﻿@{
    var title = String.IsNullOrEmpty(Page.Title) ? "PerizieLegali.it" : Page.Title;
    HtmlString loaderClass = new HtmlString("class='no-page-loader'");
    var loader = Page.Loader == true ? null : loaderClass;

    // Membership

    var rememberMe = false;

    Validation.Add("pwd",
          Validator.Required(),
          Validator.StringLength(16, 6));
    Validation.Add("login",
        Validator.Required(),
        Validator.Regex(@"\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*", "Inserisci un indirizzo email valido."));

    if (IsPost)
    {
        AntiForgery.Validate();
        var UserName = Request["email"];
        var Password = Request["password"];

        rememberMe = Request["rememberMe"].AsBool();

        //var returnurl = Request["returnurl"];
        //if (returnurl.IsEmpty()) { returnurl = Href("~/members/default"); }
        //Read more at: https://www.thecodingguys.net/tutorials/asp/webpages-membership-login-page

        if (Validation.IsValid())
        {
            if (WebSecurity.UserExists(UserName) &&
                WebSecurity.GetPasswordFailuresSinceLastSuccess(UserName) >= 4 &&
                WebSecurity.GetLastPasswordFailureDate(UserName).AddMinutes(2) > DateTime.UtcNow)
            { Response.Redirect("~/account/AccountLockedOut"); }

            if (WebSecurity.IsConfirmed(UserName))
            {
                if (WebSecurity.Login(UserName, Password, rememberMe))
                {
                    //Context.RedirectLocal(returnurl);
                }
                else
                {
                    Validation.AddFormError("Incorrect username or password");
                }
            }
            else
            {
                Validation.AddFormError("User does not exist or account is not confirmed");
            }

        }
    }

}




<!DOCTYPE html>
<html lang="it">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo">
    <!-- Document title -->
    <title>@title</title>
    <!-- Stylesheets & Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600|Montserrat:400,500,600,700|Raleway:100,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="~/css/custom.min.css" rel="stylesheet" />


</head>

<body @loader>


    <!-- Wrapper -->
    <div id="wrapper">

        @RenderPage("/controls/_header.cshtml")

        @RenderBody()

        @RenderPage("/controls/_footer.cshtml")

    </div>
    <!-- end: Wrapper -->
    <!--Modal Login -->
    <div id="modalLogin" class="modal no-padding" style="max-width: 780px;">
        <div class="col-sm-6 hidden-xs no-padding"
             style="background: transparent url(/images/login-bg.jpg) no-repeat scroll center top / cover; height:470px;"></div>
        <div class="col-sm-6">
            <div class="p-40 p-t-60 p-xs-20">
                <h3>Login</h3>
                <form class="form-grey-fields" method="post">
                    @AntiForgery.GetHtml()

                    <div class="form-group">
                        <label class="sr-only">Username</label>
                        <input placeholder="la tua email" class="form-control" type="text" name="email" @Validation.For("login")>
                        @Html.ValidationMessage("email")

                    </div>
                    <div class="form-group m-b-5">
                        <label class="sr-only">Password</label>
                        <input placeholder="la tua password" class="form-control" type="password" name="pwd" @Validation.For("pwd")>
                        @Html.ValidationMessage("pwd")
                    </div>
                    <div class="form-group form-inline text-left m-b-10 ">



                        <a class="right" href="#"><p><small>Password dimenticata?</small></p></a>

                        <div class="checkbox checkbox-creative">
                            <label>
                                <input type="checkbox" name="rememberMe">
                                <span class="checkbox-item">
                                    <span class="check"></span>
                                </span>
                                <small> Ricordami su questo dispositivo</small>
                            </label>
                        </div>

                    </div>
                    <div class="text-left form-group">
                        <button class="btn btn-default" type="submit">Login</button>

                    </div>
                </form>
                <p class="text-left">
                    Non hai un account? <a href="/account/register">Registrati</a>
                </p>
            </div>
        </div>
    </div>
    <!--End: Modal Login -->
    <!-- Go to top button -->
    <a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
    <!--Plugins-->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>

    <!--Template functions-->
    <script src="/js/functions.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", false)
</body>

</html>