﻿@{
    Page.Title = "Test";
    Page.Loader = true;
    Layout = "/_Layout.cshtml";
}

<!-- SECTION IMAGE FULLSCREEN -->
<section class="fullscreen background-overlay" data-parallax-image="/images/parallax/bkg-2.jpg">
    <div class="background-overlay"></div>
    <div class="container-fluid">
        <div class="container-fullscreen">
            <div class="text-middle text-center text-light">
                <h3 class="m-b-0 text-uppercase">MAI più SOLI. FINALMENTE</h3>
                <h2 class="text-lg m-t-0">PERIZIE LEGALI</h2>
                <p class="lead">Hai subito un danno?</p>
                <a class="btn btn-light btn-outline" href="#">CONTATTACI SUBITO. GRATIS</a>
            </div>


        </div>
    </div>
</section>
<!-- end: SECTION IMAGE FULLSCREEN -->
<!-- COMPANY -->
<section class="p-b-10">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading heading text-left">
                    <h2>ABOUT US</h2>
                    <span class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. </span>
                </div>
            </div>
            <div class="col-md-6 m-t-60">
                <div class="progress-bar-container title-up small">
                    <div class="progress-bar" data-percent="100" data-delay="100" data-type="%">
                        <div class="progress-title">HTML5</div>
                    </div>
                </div>

                <div class="progress-bar-container title-up small">
                    <div class="progress-bar" data-percent="94" data-delay="200" data-type="%">
                        <div class="progress-title">CSS3</div>
                    </div>
                </div>

                <div class="progress-bar-container title-up small">
                    <div class="progress-bar" data-percent="78" data-delay="300" data-type="%">
                        <div class="progress-title">JQUERY</div>
                    </div>
                </div>

                <div class="progress-bar-container title-up small">
                    <div class="progress-bar" data-percent="65" data-delay="400" data-type="%">
                        <div class="progress-title">MYSQL</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: COMPANY -->
<!-- COUNTERS -->
<section class="background-grey text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="text-center">
                    <div class="icon"><i class="fa fa-3x fa-code"></i></div>
                    <div class="counter"> <span data-speed="3000" data-refresh-interval="50" data-to="12416" data-from="600" data-seperator="true"></span> </div>
                    <div class="seperator seperator-small"></div>
                    <p>LINES OF CODE</p>
                </div>
            </div>

            <div class="col-md-3">

                <div class="text-center">
                    <div class="icon"><i class="fa fa-3x fa-coffee"></i></div>
                    <div class="counter"> <span data-speed="4500" data-refresh-interval="23" data-to="365" data-from="100" data-seperator="true"></span> </div>
                    <div class="seperator seperator-small"></div>
                    <p>CUPS OF COFFEE</p>
                </div>
            </div>

            <div class="col-md-3">

                <div class="text-center">
                    <div class="icon"><i class="fa fa-3x fa-rocket"></i></div>
                    <div class="counter"> <span data-speed="3000" data-refresh-interval="12" data-to="114" data-from="50" data-seperator="true"></span> </div>
                    <div class="seperator seperator-small"></div>
                    <p>FINISHED PROJECTS</p>
                </div>
            </div>

            <div class="col-md-3">

                <div class="text-center">
                    <div class="icon"><i class="fa fa-3x fa-smile-o"></i></div>
                    <div class="counter"> <span data-speed="4550" data-refresh-interval="50" data-to="14825" data-from="48" data-seperator="true"></span> </div>
                    <div class="seperator seperator-small"></div>
                    <p>SATISFIED CLIENTS</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: COUNTERS -->
<!-- SERVICES -->
<section>
    <div class="container">
        <div class="heading text-left">
            <h2>OUR SERVICES</h2>
            <span class="lead">Create amam ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>

        <div class="row">
            <div class="col-md-4" data-animation="flipInY" data-animation-delay="0">
                <div class="icon-box effect small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-plug"></i></a>
                    </div>
                    <h3>Powerful template</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-4" data-animation="flipInY" data-animation-delay="200">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-desktop"></i></a>
                    </div>
                    <h3>Flexible Layouts</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-4" data-animation="flipInY" data-animation-delay="400">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cloud"></i></a>
                    </div>
                    <h3>Retina Ready</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-4" data-animation="flipInY" data-animation-delay="600">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                    </div>
                    <h3>Fast processing</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-4" data-animation="flipInY" data-animation-delay="800">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-trophy"></i></a>
                    </div>
                    <h3>Unlimited Colors</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-4" data-animation="flipInY" data-animation-delay="1000">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                    </div>
                    <h3>Premium Sliders</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>

            <div class="col-md-4" data-animation="flipInY" data-animation-delay="1200">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-rocket"></i></a>
                    </div>
                    <h3>Modern Design</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-4" data-animation="flipInY" data-animation-delay="1400">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-flask"></i></a>
                    </div>
                    <h3>Clean Modern Code</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-md-4" data-animation="flipInY" data-animation-delay="1600">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-umbrella"></i></a>
                    </div>
                    <h3>Free Updates & Support</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- end: SERVICES -->

<div class="seperator p-b-0 p-t-0">
    <i class="fa fa-chevron-down"></i>
</div>
<!-- CLIENTS -->
<section>
    <div class="container">
        <div class="heading heading-center">
            <h2>OUR CLIENTS</h2>
            <span class="lead">Our awesome clients we've had the pleasure to work with! </span>
        </div>

        <ul class="grid grid-5-columns">
            <li>
                <a href="#">
                    <img src="images/clients/1.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/clients/2.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/clients/3.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/clients/4.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/clients/5.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/clients/6.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/clients/7.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/clients/8.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/clients/9.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/clients/10.png" alt="">
                </a>
            </li>
        </ul>

    </div>
</section>
<!-- CLIENTS -->
<!-- BLOG -->
<section id="section4" class="background-grey">
    <div class="container">
        <div class="heading heading-center m-b-40">
            <h2 class="m-b-0">OUR BLOG</h2>
            <span class="lead">We do blogging sometimes!</span>
        </div>
        <div id="blog">

            <!-- Blog post-->
            <div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item">

                <!-- Post item-->
                <div class="post-item border">
                    <div class="post-item-wrap">
                        <div class="post-image">
                            <a href="#">
                                <img alt="" src="images/blog/12.jpg">
                            </a>
                            <span class="post-meta-category"><a href="">Lifestyle</a></span>
                        </div>
                        <div class="post-item-description">
                            <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                            <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                            <h2>
                                <a href="#">
                                    Lighthouse, standard post with a single image
                                </a>
                            </h2>
                            <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                            <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                        </div>
                    </div>
                </div>
                <!-- end: Post item-->
                <!-- Post item-->
                <div class="post-item border">
                    <div class="post-item-wrap">
                        <div class="post-image">
                            <a href="#">
                                <img alt="" src="images/blog/17.jpg">
                            </a>
                            <span class="post-meta-category"><a href="">Science</a></span>
                        </div>
                        <div class="post-item-description">
                            <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                            <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                            <h2>
                                <a href="#">
                                    Lighthouse, standard post with a single image
                                </a>
                            </h2>
                            <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                            <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                        </div>
                    </div>
                </div>
                <!-- end: Post item-->
                <!-- Post item-->
                <div class="post-item border">
                    <div class="post-item-wrap">
                        <div class="post-image">
                            <a href="#">
                                <img alt="" src="images/blog/18.jpg">
                            </a>
                            <span class="post-meta-category"><a href="">Science</a></span>
                        </div>
                        <div class="post-item-description">
                            <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                            <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                            <h2>
                                <a href="#">
                                    Lighthouse, standard post with a single image
                                </a>
                            </h2>
                            <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                            <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                        </div>
                    </div>
                </div>
                <!-- end: Post item-->
            </div>
            <!-- end: Blog post-->
        </div>
    </div>
</section>
<!-- end: BLOG -->