/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

#topbar.topbar-dark .top-menu > li > a.admin-menu, 
#topbar.topbar-dark .social-icons li a.admin-menu, 
#topbar.dark .top-menu > li > a.admin-menu, 
#topbar.dark .social-icons li a.admin-menu {
    color: red !important;
}

input.form-control.input-validation-error {
    border-color: red;
}

input.form-control.input-validation-valid {
    border-color: initial;
}

.field-validation-error {
    color: #f00;
    font-size: x-small;
    margin-left: 20px;
    font-style: italic;
    margin-left: 15px;
    display: inline-block;
    line-height: 15px;
}

#topbar .top-menu > li > a, #topbar .top-menu > li > span {
    display:inline;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    margin-right: 16px;
}