﻿@{
    
}

 <!--Top Search Form-->
<div id="top-search">
    <form action="search-results-page.html" method="get">
        <input type="text" name="q" class="form-control" value="" placeholder="Start typing & press  &quot;Enter&quot;">
    </form>
</div>
<!--end: Top Search Form-->
<!--Header Extras-->
<div class="header-extras">
    <ul>
        <li>
            <a href="#" class="btn btn-rounded">Chiedi una consulenza <i class="fa fa-long-arrow-right"></i></a>
        </li>
    </ul>
</div>
<!--end: Header Extras-->