﻿@{

}



<div id="topbar" class="topbar-transparent topbar-fullwidth dark visible-md visible-lg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                @*<ul class="top-menu">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>*@

                <ul class="top-menu">
                    <li><a href="tel:0287187297">Phone: +39 (02) 8718 7297</a></li>
                    <li><a href="mailto:contatti@perizielegali.it">Email: contatti@perizielegali.it</a></li>
                </ul>

            </div>
            <div class="col-sm-6 hidden-xs">
                @*<div class="social-icons social-icons-colored-hover">
                    <ul>
                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li class="social-youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                   
                </div>*@
                <ul class="top-menu right">
                    @if (WebSecurity.IsAuthenticated)
                    {
                        <li class="admin-menu">
                            <span>
                                <i class="fa fa-lock"></i>
                                Benvenuto, @WebSecurity.CurrentUserName 
                            </span>
                            <a href="~/account/logout?returnUrl=@Request.Url.LocalPath">Log out</a>
                        </li>
                    }
                    else
                    {
                        <li><a href="/account/login?returnUrl=@Request.Url.LocalPath" class="admin-menu">Login</a></li>
                    }
                    @*<li><a href="#" class="">Register</a></li>*@
                </ul>
            </div>
        </div>
    </div>
</div>

