﻿@{
    Page.Title = "PERIZIELEGALI | Cambia password";
    Layout = "/_Layout.cshtml";

    var message = "";
    bool success = false;
    var disabled = "";


    Validation.Add("password",
         Validator.Required(),
         Validator.StringLength(16, 6));

    Validation.Add("confirmpassword",
        Validator.Required(),
        Validator.EqualsTo("newpassword", "Le password devono corrispondere"));

    Validation.Add("newpassword",
        Validator.Required(),
        Validator.StringLength(16, 6));


    if (IsPost)
    {
        AntiForgery.Validate();
        var currentPassword = Request["Password"];
        var newPassword = Request["newpassword"];


        if (WebSecurity.ChangePassword(WebSecurity.CurrentUserName, currentPassword, newPassword)) {
            message = "La password è stata cambiata";
            disabled = "disabled";
        } else
        {
            Validation.AddFormError("Inserisci correttamente la password corrente");
        }
    }



    } 


<!-- Section -->
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3">
                <div class="panel ">
                    <div class="panel-body">
                        <h3>Cambia Password</h3>

                        @if (message != null)
                        {
                            <p>
                                @message
                            </p>
                        }


                        <form method="post" @disabled>
                            @AntiForgery.GetHtml()
                            @Html.ValidationSummary()
                            <div class="form-group m-b-5">
                                <label class="sr-only">Password</label>
                                <input placeholder="Password" class="form-control" type="password" name="password" @Validation.For("password")>
                                @Html.ValidationMessage("password")
                            </div>
                            <div class="form-group m-b-5">
                                <label class="sr-only">Nuova Password</label>
                                <input placeholder="Nuova Password" class="form-control" type="password" name="newpassword" @Validation.For("newmpassword")>
                                @Html.ValidationMessage("confirmpassword")
                            </div>
                            <div class="form-group m-b-5">
                                <label class="sr-only">Conferma Password</label>
                                <input placeholder="Conferma Password" class="form-control" type="password" name="confirmpassword" @Validation.For("confirmpassword")>
                                @Html.ValidationMessage("confirmpassword")
                            </div>

                            <div class="form-group">
                                <button class="btn btn-default" type="submit" @disabled>Invia</button>

                            </div>
                        </form>


                    </div>




                </div>

                <p class="small">
                    <a href="~/account/login">Vai al login <i class="fa fa-long-arrow-right"></i></a>
                </p>
            </div>



        </div>


    </div>
</section>
<!-- end: Section -->