﻿@{
    Page.Title = "PERIZIELEGALI | Conferma account";
    Layout = "/_Layout.cshtml";

    var token = Request["token"];
    bool showForm = false;
    var message = "";


    if (!string.IsNullOrEmpty(token)) {
        if (WebSecurity.ConfirmAccount(token)) {
            message = "Your account has been confirmed"; }
        else {
            message = "Oops something has gone wrong there please contact the Administrator";
        }
    } else {
        showForm = true;
    }

   


}

@section Scripts{


    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}
    <!-- Page title -->
    <section id="page-title" data-parallax-image="/images/parallax/5.jpg">
        <div class="background-overlay-dark"></div>
        <div class="container">

            <div class="page-title">
                <h1>Registrazione Utente</h1>
                <span>Conferma account</span>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li class="active">
                        <a href="#">User Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- end: Page title -->

    <!-- Section -->
    <section>
        <div class="container">
            <div class="row">



                <div class="col-md-8 center no-padding">
                    <div class="col-md-12">
                        <h3>Conferma account</h3>

                        @message

                        @if (showForm == true)
                        {

                            <form method="post">
                                <div class="col-md-4 form-group">
                                    <label class="sr-only">Token</label>
                                    <input type="text" name="token" class="form-control input-lg" placeholder="Inserisci codice" />
                                </div>
                                <input type="submit" class="btn btn-default" value="Invia" />
                            </form>
                        }

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- end: Section -->
                      

                  
                  



