﻿@{
    Page.Title = "PERIZIELEGALI | Login page";
   
    Layout = "/_Layout.cshtml";

    // Membership

    var rememberMe = false;

    Validation.Add("password",
          Validator.Required(),
          Validator.StringLength(16, 6));
    Validation.Add("email",
        Validator.Required(),
        Validator.Regex(@"\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*", "Inserisci un indirizzo email valido."));

    if (IsPost)
    {
        AntiForgery.Validate();
        var UserName = Request["email"];
        var Password = Request["password"];

        rememberMe = Request["rememberMe"].AsBool();

        var returnurl = Request["returnurl"];
        if (returnurl.IsEmpty()) { returnurl = Href("~/members/default"); }
        

        if (Validation.IsValid())
        {
            if (
                WebSecurity.UserExists(UserName) &&
                WebSecurity.GetPasswordFailuresSinceLastSuccess(UserName) >= 4 &&
                WebSecurity.GetLastPasswordFailureDate(UserName).AddMinutes(2) > DateTime.UtcNow
                )
            { Response.Redirect("~/account/AccountLockedOut"); }

            if (WebSecurity.IsConfirmed(UserName))
            {
                if (WebSecurity.Login(UserName, Password, rememberMe))
                {
                    Context.RedirectLocal(returnurl);
                }
                else
                {
                    Validation.AddFormError("Dati non corretti");
                }
            }
            else
            {
                Validation.AddFormError("Utente non esistente o account non confermato.");
            }

        }
    }

}


<!-- Page title -->
<section id="page-title" data-parallax-image="/images/parallax/5.jpg">
    <div class="background-overlay-dark"></div>
    <div class="container">

        <div class="page-title">
            <h1>Login</h1>
            <span>Accedi al tuo account</span>
        </div>
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
              
                <li class="active">
                    <a href="~/account/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- end: Page title -->


<section>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3">
                <div class="panel ">
                    <div class="panel-body">
                        <h3>Login</h3>
                        <form method="post">
                            @AntiForgery.GetHtml()
                            @Html.ValidationSummary()
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                <input placeholder="Email" class="form-control" type="text" name="email" @Validation.For("email")>
                                @Html.ValidationMessage("email")
                            </div>
                            <div class="form-group m-b-5">
                                <label class="sr-only">Password</label>
                                <input placeholder="Password" class="form-control" type="password" name="password" @Validation.For("password")>
                                @Html.ValidationMessage("password")
                            </div>
                            <div class="form-group form-inline m-b-10 ">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"><small> &nbsp;Ricordami</small>
                                    </label>
                                </div><a class="right" href="/account/lost-password"><small>Password dimenticata?</small></a>
                            </div><div class="form-group">
                                <button class="btn btn-default" type="submit">Login</button>

                            </div>
                        </form>
                    </div>
                </div><p class="small">Non hai un account? <a href="~/account/register">Registrati</a></p>


            </div>
        </div>
    </div>
</section>