﻿@{
    Page.Title = "PERIZIELEGALI | Recupera password";
    Layout = "/_Layout.cshtml";

    var message = "";
    bool success = false;
    var disabled = "";

    Validation.Add("email",
        Validator.Required(),
        Validator.Regex(@"\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*", "Inserisci un indirizzo email valido."));


    if (IsPost)
    {
        AntiForgery.Validate();
        var UserName = Request["email"];

        if (Validation.IsValid())
        {
            if (WebSecurity.UserExists(UserName))
            {
                var resetToken = WebSecurity.GeneratePasswordResetToken(UserName, 30);
                var resetUrl = Request.Url.GetLeftPart(UriPartial.Authority) + "/account/reset-password?token=" + resetToken;
                var resetMessage = "Segui il link che segue per generare una nuova password: " + resetUrl;

                try
                {
                    WebMail.Send(UserName, "PERIZIELEGALI // Reset password", resetMessage);
                    message = "Ti abbiamo inviato un link per generare una nuova password. Controlla la tua email. ";
                    disabled = "disabled";
                }
                catch (Exception ex)
                {
                    message = ex.Message;
                }
            }
            else
            {
                Validation.AddFormError("L'utente specificato non esiste");
            }
        }
    }
}



<!-- Page title -->
<section id="page-title" data-parallax-image="/images/parallax/5.jpg">
    <div class="background-overlay"></div>
    <div class="container">

        <div class="page-title">
            <h1>Recupera password</h1>
            <span></span>
        </div>
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>

                <li class="active">
                    <a href="/lost-password">Recupera password</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- end: Page title -->
<!-- Section -->
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3">
                <div class="panel ">
                    <div class="panel-body">
                        <h3>Reset Password</h3>

                        @if(message != null)
                        {
                            <p>
                                @message
                            </p>
                        }


                        <form method="post">
                            @AntiForgery.GetHtml()
                            @Html.ValidationSummary()
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                <input placeholder="Email" class="form-control" type="text" name="email" @Validation.For("email")>
                                @Html.ValidationMessage("email")
                            </div>

                            <div class="form-group">
                                <button class="btn btn-default" type="submit" @disabled>Invia</button>

                            </div>
                        </form>

                       
                    </div>




                </div>

                <p class="small"> 
                <a href="~/">Torna alla home <i class="fa fa-long-arrow-right"></i></a></p>
            </div>

          

        </div>


    </div>
</section>
<!-- end: Section -->