﻿@{
    Page.Title = "PERIZIELEGALI | Registrazione utente";
    Layout = "/_Layout.cshtml";

    var message = "";
    bool success = false;

    //var UserName = "";

    //VALIDATION
    //Validation.RequireField("Email");
    //Validation.RequireFields("Email","Password", "ConfirmPassword");



    Validation.Add("password",
        Validator.Required(),
        Validator.StringLength(16, 6));
    Validation.Add("email",
        Validator.Required(),
        Validator.Regex(@"\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*", "Inserisci un indirizzo email valido."));
    Validation.Add("confirmpassword",
        Validator.Required(),
        Validator.EqualsTo("password", "Le passoword devono corrispondere"));


    if (IsPost)
    {
        AntiForgery.Validate();
        var UserName = Request["email"];
        var Password = Request["password"];
        var ConfirmPassword = Request["confirmpassword"];


        if (ConfirmPassword != Password)
        {
            Validation.AddFormError("Le password non corrispondono");

        }

        if (Validation.IsValid())
        {
            if (WebSecurity.UserExists(UserName))
            {
                Validation.AddFormError($"L'utente {UserName} risulta già registrato.");
            }
            else
            {
                WebSecurity.Logout();
                var token = WebSecurity.CreateUserAndAccount(UserName, Password, null, true);
                var confirmationMessage = "Grazie per la registrazione del tuo account PerizieLegali, per favore conferma il tuo account qui: " + Request.Url.GetLeftPart(UriPartial.Authority) + "/account/confirmaccount?token=" + HttpUtility.HtmlEncode(token);

                WebMail.Send(to: UserName, subject: "Please confirm account", body: confirmationMessage, isBodyHtml: true);



                //WebSecurity.Login(username, password, true);
                //Response.Redirect("/thanks");
                message = "Abbiamo creato il tuo account PerizieLegali. Per favore controlla la tua email per la verifica dell'account per continuare. Se non dovessi trovare la mail di verifica entro 15 minuti controlla anche la casella spam.";
                success = true;
            }
        }

    }

}


    <!-- Page title -->
    <section id="page-title" data-parallax-image="/images/parallax/5.jpg">
        <div class="background-overlay-dark"></div>
        <div class="container">

            <div class="page-title">
                <h1>Registrazione Utente</h1>
                <span>Crea un account</span>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li class="active">
                        <a href="#">User Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- end: Page title -->

    <!-- Section -->
    <section>
        <div class="container">
            <div class="row">



                <div class="col-md-8 center no-padding">
                    <div class="col-md-12">
                        <h3>Registrazione Utente</h3>

                        @if (!success)
                        {
                            <p>Per creare un account inserisci le informazioni indicate. Se già possiedi un account effettua il login in cima alla pagina.</p>
                        }
                      
                    </div>

                    @if (!success)
                    {
                        <form method="post">
                            @AntiForgery.GetHtml()
                            @Html.ValidationSummary()
                            <div class="col-md-4 form-group">
                                <label class="sr-only">Email</label>
                                <input type="text" class="form-control input-lg" placeholder="Inserisci la tua email" value="@Request["email"]" name="email" @Validation.For("email")>
                                @Html.ValidationMessage("email")

                            </div>
                            <div class="col-md-4 form-group">
                                <label class="sr-only">Password</label>
                                <input type="password" class="form-control input-lg" placeholder="Scegli una password" value="@Request["password"]" name="password" @Validation.For("password")>
                                @Html.ValidationMessage("password")
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="sr-only">Conferma password</label>
                                <input type="password" class="form-control input-lg" placeholder="Conferma la password" value="@Request["confimpassword"]" name="confirmpassword" @Validation.For("confirmpassword")>
                                @Html.ValidationMessage("confirmpassword")
                            </div>



                            <div class="col-md-12 form-group">

                                <button type="submit" class="btn btn-default">Registrati </button>
                                <button class="btn btn-danger m-l-10" type="button">Annulla</button>

                            </div>


                        </form>
                    }
                  

                    @if (IsPost && success)
                    {

                        <div class="col-md-12">
                            <p>@message</p>
                        </div>
                    }
                  

                </div>

            </div>


        </div>
    </section>
    <!-- end: Section -->