﻿@{
    Page.Title = "PERIZIELEGALI | Reset password";
    Layout = "/_Layout.cshtml";

    var message = "";
    bool success = false;
    var disabled = "";
    var token = Request["token"];

    if (token == null)
    {
        disabled = "disabled";
        message = "Segui il link nella mail che ti abbiamo inviato per resettare la password.";
    }



    Validation.Add("password",
         Validator.Required(),
         Validator.StringLength(16, 6));

    Validation.Add("confirmpassword",
        Validator.Required(),
        Validator.EqualsTo("password", "Le password devono corrispondere"));


    if (IsPost)
    {
        AntiForgery.Validate();
        var Password = Request["Password"];
        var ConfirmPassword = Request["ConfirmPassword"];


        if (Validation.IsValid())
        {
            if (WebSecurity.ResetPassword(token, Password))
            {
                Response.Redirect("~/account/login"); }
            else
            {
                Validation.AddFormError("An error has occurred.");
            }
        }
    } }





    }


<!-- Section -->
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3">
                <div class="panel ">
                    <div class="panel-body">
                        <h3>Reset Password</h3>

                        @if (message != null)
                        {
                            <p>
                                @message
                            </p>
                        }


                        <form method="post">
                            @AntiForgery.GetHtml()
                            @Html.ValidationSummary()
                            <div class="form-group m-b-5">
                                <label class="sr-only">Password</label>
                                <input placeholder="Password" class="form-control" type="password" name="password" @Validation.For("password")>
                                @Html.ValidationMessage("password")
                            </div>
                            <div class="form-group m-b-5">
                                <label class="sr-only">Conferma Password</label>
                                <input placeholder="Conferma Password" class="form-control" type="password" name="confirmpassword" @Validation.For("confirmpassword")>
                                @Html.ValidationMessage("confirmpassword")
                            </div>

                            <div class="form-group">
                                <button class="btn btn-default" type="submit" @disabled>Invia</button>

                            </div>
                        </form>


                    </div>




                </div>

                <p class="small">
                    <a href="~/">Torna alla home <i class="fa fa-long-arrow-right"></i></a>
                </p>
            </div>



        </div>


    </div>
</section>
<!-- end: Section -->